.datatable {
  // height: 600px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .profile {
    width: 100%; // Default to full width

    @media (min-width: 992px) { // Large devices (lg)
      width: calc(33.33% - 20px); // Adjust the width and spacing as needed
    }

    @media (min-width: 768px) and (max-width: 991px) { // Medium devices (md)
      width: calc(50% - 20px); // Adjust the width and spacing as needed
    }

    @media (max-width: 767px) { // Small devices (sm)
      width: 100%; // Full width for single column
    }

    margin: 10px;    

    flex: 1;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    position: relative;

    .editButton {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px;
      font-size: 12px;
      color: #7451f8;
      background-color: #7551f818;
      cursor: pointer;
      border-radius: 0px 0px 0px 5px;
    }

    .item {
      display: flex;
      gap: 20px;

      .itemImg {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }

      .details {
        .itemTitle {
          margin-bottom: 10px;
          color: #555;
        }

        .detailItem {
          margin-bottom: 10px;
          font-size: 14px;

          .itemKey {
            font-weight: bold;
            color: gray;
            margin-right: 5px;
          }

          .itemValue {
            font-weight: 300;
          }
        }
      }
    }
  }
  
  .datatableTitle{
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link{
      text-decoration: none;
      color: green;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid green;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.active {
      background-color: rgba(0, 128, 0, 0.05);
      color: green;
    }
    &.pending {
      background-color: rgba(255, 217, 0, 0.05);
      color: goldenrod;
    }
    &.passive {
      background-color: rgba(255, 0, 0, 0.05);
      color: crimson;
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px dotted rgba(0, 0, 139, 0.596);
      cursor: pointer;
    }
    
    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.6);
      cursor: pointer;
    }
  }
}
